/sh3d-metadata/target/
sh3d-metadata/nbactions.xml
/sh3d-additionaldata-app/target/
/sh3d-plugins-parent/target/
/sh3d-metadata-plugin/target/
sh3d-metadata-plugin/nbactions.xml
/java3d-natives/target/
/**/.project
/**/target
/**/.classpath
/**/.project
/**/.settings
